.DS_Store

# Logs
logs
*.log

# Optional npm cache directory
.npm

# Dependency directories
node_modules/

dist/font
dist/img
dist/main.js

yarn.lock
*.lock

firebase.json
database.rules.json
.firebaserc
firestore.indexes.json
firestore.rules
src/pupilsM.json

src/pupilsM.json

*.cache
dist/main.js
*.map
dist/main.js.map
